<ion-view view-title="Connexion" has-header="true" ng-controller="LoginCtrl">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Utilisateur : </span>
                <input type="text" ng-model="session.login">
            </label>
            <label class="item item-input">
                <span class="input-label">Mot de passe : </span>
                <input type="password" ng-model="session.password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="login()">Connexion</button>
            <p class="text-center">
                {{errorMessageKey}}
            </p>
            <p class="text-center">
                <a href="#/forgot-password">Forgot password</a>
            </p>
        </div>
    </ion-content>
</ion-view>
